<div class="list-group-item" id="<%= dom_id(note) %>">
  <div class="body">
    <%= simple_format note.body %>  
  </div>
  
  <small>
    <%= note.author.email %>
    <% if note.author == send(Notepad.author_method) %>
      <%= link_to "Edit", [notepad, :edit, note], remote: true, class: "edit-link" %>
      <%= link_to "Delete", [notepad, note], method: :delete %>
    <% end %>
  </small>
</div>
